body{
    background-color: rgb(224, 230, 247);/*background-image: url(../work/images/products/sub.jpeg);*/
}
h1{
    font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: aqua;
}
h2{
    font-size: medium;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;background-color: rgb(94, 138, 85);
}
p{ border-width: 2px;border-style: groove;border-width: 12px;border-color: rgb(64, 151, 90);
    background-color: center right /*url(../work/images/contact.jpg);*/color: rgb(143, 165, 62) no-repeat fixed;background-size: contain;
}
#one{
    font-size: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h-color{
    color: rgb(27, 58, 48);font-size: 30px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.session1 .h-color{border-color: black;
    border-style: double;border-width: 12px;
    color: rgb(109, 211, 151);
}
.session2 .h-color{font-size: 40px;background-image: url(../work/images/contact.jpg);border-color: black;
border-style: dashed;border-width: 2px;}
.session3 .h-color{font-family: Arial, Helvetica, sans-serif;}